repos:
  # basic checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        args: [--unsafe]
      - id: check-toml
      - id: name-tests-test
        args: [--pytest-test-first]

  # docs checks
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        # Do not switch to mdformat --exclude until: https://github.com/hukkin/mdformat/issues/489
        exclude: |
          (?x)(
            ^docs/CODE_OF_CONDUCT\.md$ |
            ^docs/reference/.*\.md$
          )
        additional_dependencies:
          - mdformat-mkdocs
          - mdformat-footnote
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint-fix
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos
        args: [--force-exclude]

  # python checks
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.10
    hooks:
      - id: uv-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: ruff-lint
        args: [--fix]
      - id: ruff-format
        name: ruff-format
  # Remove this after rules are added to ruff
  # https://github.com/astral-sh/ruff/issues/12434
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - Flake8-pyproject==1.2.3
          - pydoclint==0.6.6
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
      - id: pyright
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run --no-active mypy
        language: system
        types: [python]
        args: [--config-file, pyproject.toml, .]
        require_serial: true
        pass_filenames: false
      - id: scripts/checks/pypi_version.py
        name: scripts/checks/pypi_version.py
        entry: ./scripts/checks/pypi_version.py
        language: system
        files: ^pyproject.toml$
        pass_filenames: false
      - id: scripts/checks/changelog.py
        name: scripts/checks/changelog.py
        entry: ./scripts/checks/changelog.py
        language: system
        files: |
          (?x)^(
            docs/CHANGELOG\.md
            |pyproject.toml
          )$
        pass_filenames: false
