name: mkdocs
on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
    paths:
      - "docs/**"
      - "src/pyticktick/**"
      - "mkdocs.yml"
      - ".github/workflows/docs.yaml"
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mkdocs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Install uv, python, and dependencies
        run: make install-all
      - name: Build the site
        if: github.ref != 'refs/heads/main'
        run: make mkdocs-check
      - name: Deploy to GitHub Pages
        if: ${{ github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch' }}
        run: make mkdocs-publish
